.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // margin: auto;
}

// body{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// .directory-container{
//   width: 100vw;
//   // height: 80vh;
//   // margin:auto;
//   // background-color: lightcyan;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }